# Banco de dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_DB=moodflow

# Backend
SECRET_KEY=troque_esta_chave_secreta
ENVIRONMENT=development

# Frontend
VITE_API_URL=http://localhost:8000
